*.cll
*.html
.floorplanner.ini
.run_manager.ini
.spread_sheet.ini
.spreadsheet_view.ini
msg_file.log
reportview.xml


# nested folder
_mh_info
_verilog_hintfile
*.adf
*.ado
*.alt
*.areasrr
*.asd
*.aws
*.bgn
*.bit
.build_status
*.cam
*.drc
*.fdep
*.fdeporig
*.fse
*.hrr
*.info
Edfmap.ini
*.ior
*.log
*.lpf
*.lst
*.mrp
*.ncd
*.ngd
*.ngo
*.order
*.p2t
*.p3d
*.pad
*.par
*.prf
*.prf_cdmp
*.prf_cdmp0
*.prf_cdmp2
*.prs
*.pt
.reordref
*.rpt
*.sdc
*.sdf
*.set
*.sort
*.spf
*.srd
*.srf
*.srm
*.srr
*.srs
*.t2b
*.tcl
*.tlg
*.tops
*.twr
*.vo
*.wsp
*.wsw
*.cmd
*.epr
*.lib~expresso
*.lib~work
expresso.opt
*.opv
*.sth
*.xdm
*.lib
*.asd
*.ncd
*.pad
*.par
*.edi
.recordref
*.p3t
*.ccl

*/synlog/*
*/syntmp/*
*/synwork/*
*/work/*
*/slp/*
*/compile/*
