BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "seg_1" SITE "V6" ;
LOCATE COMP "seg_2" SITE "U7" ;
LOCATE COMP "seg_3" SITE "Y6" ;
LOCATE COMP "seg_4" SITE "AA6" ;
LOCATE COMP "seg_5" SITE "U8" ;
LOCATE COMP "seg_6" SITE "T8" ;
LOCATE COMP "seg_7" SITE "AA5" ;
LOCATE COMP "seg_8" SITE "AB4" ;
LOCATE COMP "clk" SITE "L5" ;
IOBUF PORT "seg_1" IO_TYPE=LVCMOS33 TERMINATEVTT=OFF ;
LOCATE COMP "reset" SITE "J7" ;
IOBUF PORT "reset" IO_TYPE=LVCMOS33 ;
LOCATE COMP "LOCK" SITE "W5" ;
LOCATE COMP "seg_9" SITE "Y20" ;
LOCATE COMP "seg_10" SITE "AA21" ;
LOCATE COMP "seg_11" SITE "U18" ;
LOCATE COMP "seg_12" SITE "U19" ;
LOCATE COMP "seg_13" SITE "W19" ;
LOCATE COMP "seg_14" SITE "V19" ;
LOCATE COMP "seg_15" SITE "AB20" ;
LOCATE COMP "seg_16" SITE "AA20" ;
# INPUT_SETUP ALLPORTS 10.000000 ns CLKPORT "clk" ;
# INPUT_SETUP PORT "reset" 10.000000 ns CLKPORT "clk" ;
IOBUF PORT "seg_3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADC0_CSB" IO_TYPE=LVCMOS18 ;
IOBUF PORT "ADC0_SCLK" IO_TYPE=LVCMOS18 ;
IOBUF PORT "ADC0_SDIO" IO_TYPE=LVCMOS18 ;
IOBUF PORT "ADC0_D1_D0_P" IO_TYPE=LVDS25 DIFFDRIVE="NA" ;
LOCATE COMP "ADC0_D1_D0_P" SITE "B11" ;
LOCATE COMP "ADC0_D3_D2_P" SITE "A12" ;
# was E12
LOCATE COMP "ADC0_D5_D4_P" SITE "D13" ;
LOCATE COMP "ADC0_D7_D6_P" SITE "C13" ;
# was D13
LOCATE COMP "clk_ADC0_DCO_P" SITE "C12" ;
IOBUF PORT "ADC0_D3_D2_P" IO_TYPE=LVDS25 ;
IOBUF PORT "ADC0_D5_D4_P" IO_TYPE=LVDS25 ;
IOBUF PORT "ADC0_D7_D6_P" IO_TYPE=LVDS25 ;
//IOBUF PORT "clk_ADC0_DCO_P" IO_TYPE=LVDS25 ;
IOBUF PORT "ADC0_D9_D8_P" IO_TYPE=LVDS25 ;
IOBUF PORT "ADC0_D11_D10_P" IO_TYPE=LVDS25 ;
IOBUF PORT "ADC0_D13_D12_P" IO_TYPE=LVDS25 ;
IOBUF PORT "ADC0_D15_D14_P" IO_TYPE=LVDS25 DIFFRESISTOR=OFF ;
# IOBUF PORT "ADC0_OR_P" IO_TYPE=LVDS25 DIFFRESISTOR=OFF ;
LOCATE COMP "ADC0_CLK_P" SITE "A17" ;
//LOCATE COMP "ADC0_SDIO" SITE "A16" ;
//LOCATE COMP "ADC0_SCLK" SITE "F16" ;
//LOCATE COMP "ADC0_CSB" SITE "A18" ;
LOCATE COMP "ADC0_D9_D8_P" SITE "A14" ;
LOCATE COMP "ADC0_D11_D10_P" SITE "F13" ;
LOCATE COMP "ADC0_D13_D12_P" SITE "A15" ;
PERIOD PORT "clk_ADC0_DCO_P" 10.000000 nS ;
INPUT_SETUP PORT "reset" 10.000000 ns HOLD 10.000000 ns CLKPORT "clk_ADC0_DCO_P" ;
IOBUF PORT "clk_ADC0_DCO_P" IO_TYPE=LVDS25 ;
#
# Logical Preferences generated for Lattice by Synplify maplat, Build 618R.
#
# Period Constraints 
FREQUENCY NET "ddr_sclk" 200.000000 MHz ;
#USE PRIMARY NET "clk_ADC0_DCO_c";
#USE SECONDARY NET "ADC0_D13_D12_P";
# Output Constraints 
# Input Constraints 
# Point-to-point Delay Constraints 
# Block Path Constraints 
# End of generated Logical Preferences.
# FREQUENCY PORT "clk_ADC0_DCO_P" 200.000000 MHz ;


# USE PRIMARY [PURE | DCS] [NET | PORT “<net or port name>” [quadrant_type] ];
USE PRIMARY PURE NET "topcount/clk_ADC0_DCO_c" QUADRANT_TR;
USE PRIMARY PURE NET "topcount/ADC0_D15_D14" QUADRANT_TR;

# REGION "D_QUAD_R" CLKREG "CLKREG_R1C3" 1 2;
# USE SECONDARY NET "clk_ADC0_DCO_P" D_QUAD_R;
